<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around-center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button bind-routerLink="['/dishdetail',prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button bind-routerLink="['/dishdetail',next]">
           <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </md-card-actions>
    </md-card>
  </div>
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>

    <md-list>
      <h3 md-subheader>Comments </h3>
      <md-divider></md-divider>
      <md-list-item *ngFor="let comment of dish?.comments">
        <p md-line>{{comment.comment}}</p>
        <p md-line>{{comment.rating}} Stars</p>
        <p md-line>-- {{comment.author}} {{comment.date | date}}</p>
      </md-list-item>
      <div bind-hidden="addcommentForm.invalid">
        <md-list-item *ngIf="comment">
          <p md-line>{{comment.comment}}</p>
          <p md-line>{{comment.rating}} Stars</p>
          <p md-line>-- {{comment.author}}</p>
        </md-list-item>
      </div>
    </md-list>

    <form novalidate bind-formGroup="addcommentForm" (ngSubmit)="onSubmit()">
      <md-list>
        <p>
          <md-input-container class="full-width">
            <input mdInput formControlName="author" placeholder="Name" type="text" required>
            <md-hint>
              <span bind-hidden="!(formErrors.author)">{{formErrors.author}}</span>
            </md-hint>
          </md-input-container>
        </p>
        <md-slider formControlName="rating" tickInterval="1" thumbLabel min="1" max="5" step="1" value="4"></md-slider>
        <p class="full-witdth">
          <md-input-container class="full-width">
            <textarea mdInput formControlName="comment" placeholder="Your Comment" rows="6" required></textarea>
            <md-hint>
              <span bind-hidden="!formErrors.comment">{{formErrors.comment}}</span>
            </md-hint>
          </md-input-container>
        </p>
        <button md-button type="submit" class="background-primary text-floral-white" bind-disabled="addcommentForm.invalid">Submit</button>
      </md-list>
    </form>

  </div>


  <div bind-hidden="dish || errMess">
    <md-spinner></md-spinner>
    <h4>Loading...Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
